.features {
  padding: 4rem 2rem;
  box-sizing: border-box;
  min-height: 740px;
  background: #11749e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  .features__title {
    position: relative;
    margin-bottom: 82px;
    margin-top: 40px;
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .title__content {
      max-width: 100vw;
      color: #fff;
      text-transform: uppercase;
      font-size: 2.34rem;
      font-weight: 400;
      position: relative;
      z-index: 2;
      display: block;
      text-align: center;
      @include mobilelg {
        font-size: 2rem;
      }
      @include mobile {
        font-size: 1.7rem;
      }
    }
    .title__capital {
      font-size: 15.43rem;
      color: #3c8daf;
      position: absolute;
      z-index: 1;
      font-weight: 800;
      left: 190px;
      top: -141px;
      @include mobilelg {
        font-size: 13.43rem;
        left: 164px;
        top: -128px;
      }
      @include mobile {
        font-size: 15.43rem;
        left: auto;
        top: -141px;
      }
    }
  }
  .features__item {
    width: 100%;
    text-align: center;
    display: block;
    .item {
      display: inline-block;
      margin-top: 20px;
      width: 265px;
      .item__image {
        margin: 0 auto;
        @include wh(132px,132px);
        background: #2e85aa;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        .image__content--first {
          background: url('../img/feature_icon.png') no-repeat 0 0;
        	width: 34px;
        	height: 34px;
        }
        .image__content--second {
          background: url('../img/feature_icon.png') no-repeat -48px 0;
        	width: 35px;
        	height: 34px;
        }
        .image__content--third {
          background: url('../img/feature_icon.png') no-repeat -97px 0;
        	width: 30px;
        	height: 34px;
        }
        .image__content--fourth {
          background: url('../img/feature_icon.png') no-repeat 0 0;
        	width: 34px;
        	height: 34px;
        }
      }
      .item__title {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.12rem;
        margin-bottom: 35px;
      }
      .item__description {
        text-align: center;
        font-size: .94rem;
        color: #fff;
        line-height: 1.3rem;
      }
    }
  }
}
