@import "navbar";

.header {
  height: 100vh;
  min-height: 740px;
  position: relative;
  background: url(../img/header_bg.jpg);
  background-position: 0 0;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .header__video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    @include mobile {

    }
  }
  .header__hero {
    position: relative;
    z-index: 4;
    .hero__title {
      color: #fff;
      font-size: 9.5rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);
      @include tablet {
        font-size: 5rem;
      }
      @include mobile {
        font-size: 3rem;
      }
    }
    .hero__subtitle {
      text-align: center;
      color: #11749e;
      font-size: 1.54rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .5rem;
      @include tablet {
        font-size: 1.3rem;
      }
      @include mobile {
        font-size: 1.2rem;
      }

      .hero__subtitle--link {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .hero__btn {
    margin-top: 14vh;
    @include mobile {
      margin-top: 7vh;
    }
    cursor: pointer;
    .btn__title {
      text-align: center;
      color: #fff;
      font-size: 1rem;
      margin-bottom: 2vh;
    }
    .btn__scrollbtn {
      @include wh(75px, 75px);
      padding: .6rem;
      box-sizing: border-box;
      margin: 0 auto;
      .scroll__btn {
        fill: #fff;
        .scroll__btn--arrow {

        }
      }
    }
  }
}
