@import "navbar";

.header {
  min-height: 740px;
  height: 100vh;
  position: relative;
  background: url(../img/header_bg.jpg);
  background-position: 0 0;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
