.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  @include tablet {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__logo {
      height: 45px;
      display: block;
      img {
        height: 45px;
      }
    }
    .navbar__nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include tablet {
        width: auto;
        order: 1;
      }

      // mobile hamburger
      .navbar__nav_button {
        display: none;
        position: relative;
        z-index: 6;
        background: #11749E;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        @include wh(45px,45px);
        @include tablet {
          display: block;
        }
        .nav__mobile--toggle {
          position: absolute;
          left: 10px;
          top: 11px;
          cursor: pointer;
          padding: 10px 35px 16px 0px;
          span,
          span:before,
          span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 3px;
            width: 25px;
            background: #ffffff;
            position: absolute;
            display: block;
            content: '';
            transition: all 300ms ease-in-out;
          }
          span:before {
            top: -8px;
          }
          span:after {
            bottom: -8px;
          }
          &.active span {
            background-color: transparent;
            &:before,
            &:after {
              top: 0;
            }
            &:before {
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
          }
        }
      }
// hamburge end
      .nav {
        display: flex;
        @include tablet {
          display: none;
        }
        li {
          margin-right: 3.125rem;
          padding-top: 1.8rem;
          padding-bottom: 1.8rem;
        }
        .nav__item {
          color: #fff;
          @include desktopmd {
            padding-right: 1.75rem;
          }
        }
      }
      .nav--mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, 1);
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        min-height: 542px;
        z-index: 5;

        li {
          padding-bottom: 1rem;
          .nav__item {
            text-transform: uppercase;
            color: #cbccd2;
            font-weight: 600;
            font-size: 1.8rem;
            padding-right: 0;
            &:hover {
              color: #ffffff;
              transition: color .3s;
            }
          }
        }
      }
      .navbar__social {
        display: flex;
        @include tablet {
          display: none;
        }
        li:nth-child(4) {
          .social__item {
            padding-right: 0;
          }
        }
        .social__item {
          color: #fff;
          display: inline-block;
          padding-right: 1rem;
          &.social__item-fb {
            background: url('../img/social.png') no-repeat 0 0;
            width: 10px;
            height: 20px;
          }
          &.social__item-tw {
            background: url('../img/social.png') no-repeat -41px 1px;
            width: 18px;
            height: 20px;
          }
          &.social__item-sk {
            background: url('../img/social.png') no-repeat -83px 0;
            width: 18px;
            height: 20px;
          }
          &.social__item-in {
            background: url('../img/social.png') no-repeat -123px 0;
            width: 18px;
            height: 20px;
          }
        }
      }
      .navbar__social--mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 5;
      }
    }
  }
}
