.promo {
  padding: 4rem 2rem;
  box-sizing: border-box;
  // min-height: 740px;
  background: #11749e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  @include mobile {
    padding: 4rem 0;
  }
  .promo__item {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    @include tablet {
      display: inline-block;
    }
    .item {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 20px;
      width: 45%;
      @include tablet {
        width: 100%;
      }
      .item__image {
        margin-right: 2rem;
        .image__content {
          background: url('../img/feature_icon.png') no-repeat 0 0;
        	width: 34px;
        	height: 34px;
        }
      }
      .item__description {
        text-align: left;
        font-size: .94rem;
        color: #fff;
        line-height: 1.3rem;
      }
    }

    #promoLeft {
      opacity: 0;
      transition: all .5s;
    }
    #promoRight {
      opacity: 0;
      transition: all .5s;
      transition-delay: .5s;
    }
  }
}
