.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 6;
  background: none;
  color: #c6c4c4;
  transition: color .5s;
  &:hover {
    color: #c8c6c6;
  }
  &:focus {
    outline: none;
  }
  display: none;
}
